/*
Dashboard Styles
Author: @zolitariuz and @scrubmx
*/

@charset 'utf-8';

.libro-meta label{ margin-top: 5px; width: 25%; display: inline-block; }
.libro-meta input{ margin: 10px 0 10px 0; }

.libro-meta .widefat { display: inline-block; width: 65%; margin-left: 5%; }

.noticia-meta label{ margin-top: -5px; }
.noticia-meta input{ margin-bottom: 10px; margin-top: 2px; 	}

h3.post-content-title{ padding: 0 !important; margin: 15px 5px 5px !important; }